*                              @intuitivo-ai/infra
/.github                       @intuitivo-ai/infra
/scripts                       @intuitivo-ai/infra
/scripts/migration_commands.sh @intuitivo-ai/infra
/scripts/post_deploy.sh        @intuitivo-ai/infra
/scripts/pre_deploy.sh         @intuitivo-ai/infra
/scripts/run_tests.sh          @intuitivo-ai/infra
/scripts/variables.sh          @intuitivo-ai/infra
