*                      @intuitivo-ai/infra
/.github               @intuitivo-ai/mlops
/scripts/build.sh    @intuitivo-ai/mlops
/scripts/check_apply_jobs.sh    @intuitivo-ai/mlops
/scripts/checkout_repositories.sh    @intuitivo-ai/mlops
/scripts/create_zip_files.sh    @intuitivo-ai/mlops
/scripts/delete_pr_comments.sh    @intuitivo-ai/mlops
/scripts/detect_vulns.sh    @intuitivo-ai/mlops
/scripts/functions.sh    @intuitivo-ai/mlops
/scripts/get_account_id.sh    @intuitivo-ai/mlops
/scripts/get_iam_policies.sh    @intuitivo-ai/mlops
/scripts/get_pr_number.sh    @intuitivo-ai/mlops
/scripts/get_vulns_config.sh    @intuitivo-ai/mlops
/scripts/infracost_comment.sh    @intuitivo-ai/mlops
/scripts/infracost_report.sh    @intuitivo-ai/mlops
/scripts/migrations_rollback.sh    @intuitivo-ai/mlops
/scripts/migrations_run.sh    @intuitivo-ai/mlops
/scripts/publish.sh    @intuitivo-ai/mlops
/scripts/release_notes.sh    @intuitivo-ai/mlops
/scripts/request_approval_deploy.sh    @intuitivo-ai/mlops
/scripts/requirements.sh    @intuitivo-ai/mlops
/scripts/stop_db.sh    @intuitivo-ai/mlops
/scripts/terraform_unlock.sh    @intuitivo-ai/mlops
/scripts/test_commands.sh    @intuitivo-ai/mlops
/scripts/vulnerabilities_report.sh    @intuitivo-ai/mlops
/scripts/get_run_id.py    @intuitivo-ai/mlops
/scripts/infracost_report_format.py    @intuitivo-ai/mlops
